body 
{ 

    background-color: rgb(192, 214, 239);
    text-align: center;
}

h1 {
    color: darkblue;
    font-size: 40px;
}

p {
    font-style: italic;
    font-weight: bold;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

#link { 
    font-weight: bold;
    font-size: 18px;
    color: rgb(199, 191, 38);
}

img { 
    width: 100%;
    max-width: 400px;
    
}
.cl_p {
    color: blue;
}


.cl_pad {
    padding-left: 50px;
}
ul { list-style-type: none;

}

#link {
    margin-left: 35px;
    font-size: 20px;
}

.list {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.list_text {
    color: darkblue;
}
  